{% extends "base.html" %}

{% load static %}

{% block title %}

Palsbet.com - Best Football Prediction in the world Login

{% endblock %}

{% block content %}

{% if messages %}

    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div style="color:red">{{ message }}</div></li>
    {% endfor %}

{% endif %}

<div align = "center" style="margin-top: 6%">
<div class="card border-success mb-3" style="max-width: 18rem;">

  <div class="card-header bg-info border-success" align = "center">Login</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <form method="post" autocomplete="off" >
      {% csrf_token %}
      <div style="color:blue"><b>{{ form.as_p }}</b></div>

      <button class="btn btn-primary btn-lg"  type="submit"  >Login</button>

    </form>
  </div>

</div>
</div>

{% endblock %}
