{% extends "base.html" %}

{% load static %}

{% block title %}

Palsbet.com - Vip Payment Methods

{% endblock %}

{% block content %}

<div class="jumbotron">
<h5 class="text-center"> We analyze and provide JACKPOTS of various Betting Companies. Contact ADMIN +254798265307 for mor INFO  </h5>
</div>
<div class="container">
<div class="row">
<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">SportPesa</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      We analyze both Mid-Week and Mega Jackpots
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet Community<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Betika</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      We analyze Sababisha, Mid-Week and Grand Jackpots
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet Community<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Odibet</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      We analyze OMOKA daily, Mid-week and Mega Jackpots
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet Community<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Mozzart Bet</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      We analyze both Mid-Week and Mega Jackpots
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet Community<b></div>
</div>
</div>

</div>
</div>
{% endblock %}
