{% extends "base.html" %}

{% load static %}

{% block title %}

Palsbet.com - Vip Payment Methods

{% endblock %}

{% block content %}

<div class="jumbotron">
<h5 class="text-center">Vip modes of payment </h5>
</div>
<div class="container">
<div class="row">
<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">MPESA</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      a) Lipa na M-PESA
    </p>
    <p>
      b) Buy Goods and Services
    </p>
    <p>
      c) Enter Till Number <font style="color: red">5147099</font>
    </p>
    <p>
      d) Enter Amount
    </p>
    <p>
      Name Displayed: PALSNEST COMMUNITY SOLUTION
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Vodacom Tanzania</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      a) In TZ
    </p>
    <p> simply dial *150*00# on your Vodacom line
    </p>
    <p>
      b) Receiptient number:
    </p>
    <p>
      +254798265307
    </p>
    <p>
      c) Amount :
    </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">MTN Uganda</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
    <p>
      a) In Uganda;
    </p>
    <p>
      dial *165# on your MTN line
    </p>
    <p>
      b) Receiptient number:
    </p>
    <p>
      +254798265307
    </p>
    <p>
      c) Amount :
    </P>
  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Diamond Bank</b></div>

  <div class="card-body text-success" align = "center">
    <hr>

<p>0011345452</p>

<p>Account name</p>

<p>Akpomoki Samson Agyo</p>
<p> Amount:  </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet<b></div>
</div>
</div>

<div class="col-md-3" align = "center">
<div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Other Countries</b></div>

  <div class="card-body text-success" align = "center">
    <hr>

<p>Whatsapp +254798265307 for</p>

<p> PayPal  </p>

<p>Western Union</p>

<p>And Mukuru </p>

<p> Details  </p>

  </div>

  <div class="card-footer bg-transparent border-success" align = "center">Palsbet<b></div>
</div>
</div>

</div>
</div>
{% endblock %}
