{% load static %}
<div class="jumbotron">
<h5 class="text-center">Sorry {{ request.user.username }},  You have not paid to the vip </h5>
</div>

<div class="container">
   <div class="row" >

     <div class="col-sm-4  ">

       <div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Palsbet Community</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>We give free tips on our platform.In those free tips you are suppose to pick utmost 3 games. You can either have them in one or two groups. Our free tips winning rate is over 80%. Apart from that we also have vip of 2 to 4 odds daily. For you to join vip we charge a little value on it</p>
  </div>

  </div>

     </div>

     <div class="col-sm-4 ">

       <div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Palsbet Community</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>In our vip we give 3 odds daily.You need to register an account and make payment through any of the payment methods provided.Our winning rate is 25 to 27 days a month</p>
  </div>

  </div>

     </div>

     <div class="col-sm-4  ">

       <div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Procedure</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>Click on payment Methods</p>
<p>Choose the convenient method</p>
<p>Make your payment</p>
<p>Send us the username</p>
<p>Login again</p>
  </div>

  </div>

     </div>

   </div>
 </div>
