{% extends "base.html" %}

{% load static %}

{% block title %}

Palsbet.com - Vip Tips

{% endblock %}

{% block content %}
<br>
<div class="container">
   <div class="row" >

     <div class="col-sm-4 offset-md-1 ">

       <div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Palsbet</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>In our vip we give 3 to 5 odds daily.You need to register an account and make payment through any of the payment methods provided.Our winning rate is an average of 26 days a month.</p>
  </div>

  </div>

     </div>

     <div class="col-sm-4 offset-md-2 ">

       <div class="card border-success mb-3" >

  <div class="card-header bg-info border-success" align = "center">Palsbet</b></div>

  <div class="card-body text-success" align = "center">
    <hr>
<p>We give free tips on our platform.In those free tips you are suppose to pick utmost 5 games. You can either have them in one or two groups. Our free tips winning rate is over 80%. Apart from that we also have vip of 3 to 5 odds daily. For you to join vip we charge a little value on it</p>
  </div>

  </div>

     </div>

   </div>
 </div>

 {% include "free/pricingTemplate.html" %}

{% endblock %}
