{% load static %}
<!-- ======= Contact Us Section ======= -->
{% load static %}

<div class="row" style="background-color:teal; margin: 6px;" id="contact">

<div class="col-md-4"  >

<p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  +254752373716</p>
<p style="color:white"><i class="fas fa-envelope"></i> Email:  predictpoa526@gmail.com</p>
<p style="color:white"><i class="fab fa-skype"></i> Skype: Predictpoa</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">Kenya Office</h5>
  <p style="color:white">Mark Square, 5th Floor, Block 3</p>
  <p style="color:white">Moi Avenue Road, CBD,</p>
  <p style="color:white">Nairobi, Kenya.</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  +254752373716</p>
  <p style="color:white"><i class="fas fa-envelope"></i> Email:  predictpoa526@gmail.com</p>
  <p style="color:white"><i class="fab fa-skype"></i> Skype:  Predictpoa</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">USA Office</h5>
  <p style="color:white">704 Hill Top</p>
  <p style="color:white">Texas, USA 20162</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Email:  predictpoa526@gmail.com</p>
  <p style="color:white"><i class="fab fa-skype"></i> Skype:  Predictpoa</p>
  <br>

</div>

</div>
