{% load static %}
<!-- ======= Contact Us Section ======= -->
{% load static %}

<div class="row" style="background-color:teal; margin: 6px;" id="contact">

<div class="col-md-4"  >

<p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  +254798265307</p>
<p style="color:white"><i class="fas fa-envelope"></i> Email:  info@palsbet.com</p>
<p style="color:white"><i class="fab fa-skype"></i> Skype: Palsbet</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">Kenya Office</h5>
  <p style="color:white">Mark Square, 5th Floor, Block 3</p>
  <p style="color:white">Chiromo Road, Westlands,</p>
  <p style="color:white">Nairobi, Kenya.</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Phone:  +254798265307</p>
  <p style="color:white"><i class="fas fa-envelope"></i> Email:  info@palsbet.com</p>
  <p style="color:white"><i class="fab fa-skype"></i> Skype:  Palsbet</p>

</div>

<div class="col-md-4" >

  <h5 style="color:white">USA Office</h5>
  <p style="color:white">10265 Hill Top</p>
  <p style="color:white">Dallas, USA 20162</p>
  <p style="color:white"><i class="fas fa-sign-in-alt"></i> Email:  usa@palsbet.com</p>
  <p style="color:white"><i class="fab fa-skype"></i> Skype:  Palsbet</p>
  <br>

</div>

</div>
