{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: teal" >
  <div class="container">
    <a class="navbar-brand" href="/home/">PALSBET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history/">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing/">VIP Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment/">Payment</a>
        </li>

        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="/viptipsgames/"> VIP Ticket </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user"></i> {{ request.user.username }} </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> logout </a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/accounts/login/"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup/"><i class="fas fa-user-plus"></i> Sign up</a>
        </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>
